.help {
  padding: 4.375rem 10%;

  &__text {
    text-align: center;
    font-family: $font-base;
    font-size: 1.375rem;
    line-height: 1.875rem;
    letter-spacing: 0;
    color: $color-font;
    max-width: 55%;
    margin: 0 auto;
    padding-bottom: 4.125rem;
  }

  &__decoration {
    height: 1px;
    background-color: $color-font;
    margin: 2rem 0;

    &:last-of-type {
      display: none;
    }
  }

  .pagiBtns {
    display: flex;
    justify-content: center;
    margin-top: 3.9375rem;

    button {
      margin-right: 1.375rem;

      &:focus {
        outline: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .fillSpace {
    height: 52px;
  }
}
