.about {
  display: flex;

  &__left,
  &__right {
    width: 50%;

    .img--people {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__left {
    background-color: $color-accent-light;
    padding: 9.72% 5%;

    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .text {
      text-align: center;
      font-family: $font-base;
      font-size: 1.875rem;
      line-height: 3.375rem;
      letter-spacing: -0.6px;
      color: $color-font;
      padding: 3.4375rem 0 2.5rem;
    }

    .img--signature {
      width: 13.0625rem;
      align-self: flex-end;
    }
  }
}
