.contact {
  background-image: url('../../../assets/Background-Contact-Form.jpg');
  background-size: contain;
  background-position-x: 25%;
  background-repeat: no-repeat;
  background-color: #ffffffc9;
  background-blend-mode: lighten;
  padding: 10% 0;
  position: relative;
  margin-right: 7.5%;

  &__right {
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form {
    margin: 4.375rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      display: block;
      margin-bottom: 0.75rem;
      font-family: $font-base;
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 0;
      color: $color-font;
      width: 100%;
    }

    .form-group {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 25rem;
      width: 100%;

      div {
        width: 50%;
        margin-right: 2rem;
      }

      input {
        border: none;
        border-bottom: 1px solid $color-font;
        height: 1.5rem;
        outline: none;
        margin-bottom: 2.5rem;
        width: 100%;

        &::placeholder {
          color: #3c3c3c26;
        }
      }

      & div:last-child {
        margin-right: 0;
      }
    }

    textarea {
      resize: none;
      margin-bottom: 2.5rem;
      outline: none;
      border: none;
      border-bottom: 1px solid $color-font;
      height: 5rem;
      width: 100%;

      &::placeholder {
        color: #3c3c3c26;
      }
    }

    button {
      display: block;
      align-self: flex-end;
      font-family: $font-base;
      font-weight: 300;
      font-size: 1.125rem;
      letter-spacing: 0px;
      border: 0.75px solid $color-font;
      padding: 0.8125rem 3.25rem;
      outline: none;
    }
  }
}
