// fonts
$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather', serif;

// colors
$color-font: #3c3c3c;
$color-auth: #737373;
$color-numbers: #5e5322;
$color-bg-accent: #f0f1f1;
$color-bg-strong: #fad648;
