// fonts
$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather Sans', sans-serif;

// colors
$color-font: #3c3c3c;
$color-auth: #737373;
$color-numbers: #5e5322;
$color-accent-light: #f0f1f1;
$color-accent-strong: #fad648;
