.bigBtn {
  display: inline-block;
  text-align: center;
  font-family: $font-base;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  letter-spacing: 0px;
  color: $color-font;
  text-transform: uppercase;
  padding: 0.8125rem 3.1875rem;
  max-width: 19.375rem;
  min-height: 7.5rem;
  border: 0.75px solid $color-font;

  &:hover {
    background-color: $color-accent-light;
    transition: 0.5s;
  }
}
