.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;

  &__socials {
    position: absolute;
    right: 0;

    a {
      width: 2rem;
      margin-right: 1.25rem;

      &:hover img {
        animation: animateHover;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes animateHover {
          25% {
            transform: translateY(-0.25rem);
          }
          50% {
            transform: translateY(0);
          }
          75% {
            transform: translateY(0.25rem);
          }
        }
      }
    }

    & a:last-of-type {
      margin-right: 0;
    }
  }

  &__text {
    margin-left: 5%;
    font-family: $font-base;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: $color-font;
  }
}
