.mainNav {
  display: flex;
  align-items: center;
  position: relative;

  &__item {
    margin-right: 0.9375rem;
    border: 0.75px solid transparent;

    &:hover {
      border: 0.75px solid $color-font;
      transition: 0.5s;
    }

    a {
      display: inline-block;
      text-align: left;
      font-family: $font-base;
      font-size: 1.125rem;
      line-height: 1.5rem;
      letter-spacing: 0;
      color: $color-font;
      padding: 0.5625rem 1.25rem;
    }

    &:first-child {
      border: 0.75px solid $color-font;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
