.title {
  text-align: center;
  font-family: $font-base;
  font-size: 2.375rem;
  line-height: 3.4375rem;
  letter-spacing: -0.76px;
  color: $color-font;

  &__img {
    padding-top: 1.5625rem;
  }
}
