.helpSingle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    .title {
      text-align: left;
      font-family: $font-alt;
      font-size: 1.625rem;
      line-height: 1.9375rem;
      font-weight: 300;
      letter-spacing: 0;
      color: $color-font;
      padding-bottom: 0.375rem;
    }

    .goal {
      text-align: left;
      font-family: $font-alt;
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-weight: 300;
      letter-spacing: 0;
      color: $color-font;
    }
  }

  &__right {
    .things {
      text-align: left;
      font-family: $font-alt;
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-weight: 300;
      letter-spacing: 0;
      color: $color-font;
    }
  }
}
